body {
    font-family: sans;
    line-height: 1.8em;
    font-size: 1.1em;
}

p {
    margin: 2em 0;
}

a {
    text-decoration:none;
    color: black;
}

a:hover {
    text-decoration:underline;
}

#nav {
    margin:0 auto;
    width:50px;
    font-size:small;
}

.content {
    height:auto;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 5%;
    width:90%;
    max-width:900px;
}

.section {
    padding:20px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.animate-button {
    animation: makeButton 1s forwards;
}

@keyframes makeButton {
    to {
        border: solid 0.5px lightgray;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 3px 3px 1px 0 #ccc;
    }
}

.animate-background {
    animation: animateBackground 2s forwards;
}

@keyframes animateBackground {
    from {
        border: solid 0.5px lightgray;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 3px 3px 1px 0 #ccc;
        background-color: white;
    }
    
    to {
        border: solid 0.5px lightgray;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 3px 3px 1px 0 #ccc;
        background-color: #D5FFDB;
    }
}

.change-background {
    animation: changeColorLoop 3s alternate infinite;
}

@keyframes changeColorLoop {
    from {
        border: solid 0.5px lightgray;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 3px 3px 1px 0 #ccc;
        background-color: #D5FFDB;
    }

    to {
        border: solid 0.5px lightgray;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 3px 3px 1px 0 #ccc;
        background-color: #E2D9FF;
    }
}

#title {
    font-size:1.2em;
}
