body {
    font-family: sans;
    line-height: 1.8em;
    font-size: 1.1em;
}

p {
    margin: 2em 0;
}

a {
    text-decoration:none;
    color: black;
}

a:hover {
    text-decoration:underline;
}

#nav {
    margin:0 auto;
    width:50px;
    font-size:small;
}

.content {
    height:auto;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 5%;
    width:90%;
    max-width:900px;
}

.section {
    padding:20px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.internal-link {
    animation: makelink 1.0s forwards;
    -webkit-animation: makelink 1.0s forwards;
}

@keyframes makelink {
    
    to {
        border: solid 1px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 3px 3px 0 0 #ccc;
    }
    
}

#title {
    font-size:1.2em;
}
